#logo-in-nav {
	margin:1rem;
	padding:0;
	margin-top:12px;
	background-image: url("images/logo.png");
	width:172px;
	height:103px;
}

main {
	margin: 0;
	margin-left:12.5rem;
}

body {
	margin: 0;
}

ul {
	width:12.5rem;
	margin:0;
	padding:0;
	list-style-type: none;
	height:100%;
	position: fixed;
	background-color: #f1f1f1;
}

a {
	text-decoration: none;
}

li {
	text-align: center;
    padding: 8px 16px;
}

}

li a:hover {
	background-color: black;
}

figure {
	padding:0;
	margin:0;
}